on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+'

name: release

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: release, build and publish module
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          generate_release_notes: true
          draft: false
          prerelease: false

      - name: Get release version
        id: vars
        run: |
          echo "{tag}=${GITHUB_REF:10}" >> $GITHUB_OUTPUT
          echo "$GITHUB_REF_NAME" | sed 's|^[a-zA-Z]\+|RELEASE_VERSION=|; s|-|_|g' >> $GITHUB_OUTPUT

      - name: Set version in metadata.json
        run: |
          perl -pi -e 's/%VERSION%/${{ steps.vars.outputs.RELEASE_VERSION }}/g' metadata.json


      - name: debug metadata.json
        run: cat metadata.json

      - name: Build and publish module
        uses: barnumbirr/action-forge-publish@v2.13.0
        env:
         FORGE_API_KEY: ${{ secrets.FORGE_API_KEY }}
         REPOSITORY_URL: https://forgeapi.puppet.com/v3/releases
